.Rproj.user
.Rhistory
.RData
.Ruserdata
torch-rstudio.Rproj
.DS_Store
torchgen.Rcheck
torchgen_
deps/
*.tar.gz
c_cpp_properties.json
*.tmp
inst/doc
torch.xcworkspace
test.html
.vscode
lantern/.idea*
lantern/cmake-build*
check/
docs/
public
data/
doc
Meta
build/
tracedmodule.pt
check/
inst/*
!inst/include
inst/include/*
!inst/include/torch.h
!inst/include/lantern
!inst/include/torch_RcppExports.h
!inst/include/torch_api.h
!inst/include/torch_imports.h
!inst/include/torch_types.h
!inst/include/torch_deleters.h
!inst/include/utils.h
!inst/include/torch_impl.h