.navbar-default {
  background-color: #7e1f77;
  border-color: #7e1f77;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #a953a2;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #ffffff;
}

.navbar-default .navbar-nav .open .dropdown-menu>.dropdown-header {
  border-color: #ffffff !important;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #ffffff;
  background-color: #a953a2;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background-color: #a953a2;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  background-color: #a953a2;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  background-color: #a953a2;
}

.dropdown-menu>.active>a, 
.dropdown-menu>.active>a:hover, 
.dropdown-menu>.active>a:focus {
    background-color: #7e1f77;
}

.dropdown-menu>a:hover, 
.dropdown-menu>a:focus {
    background-color: #7e1f77;
}